.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #E27D70;
}

h5{
  margin: 2% 2% 2% 2%;
  color: #ffffff;
}

img {
  width: 80%;
}

.colors{
  color: #D72323;
}

.cols{
  color: grey;
}

#main{
  background-color: #85DCB0;
  text-align: center;
  padding-bottom: 3%;
}

#main1{
  background-color: #85DCB0;
  text-align: center;
  padding-bottom: 3%;
}

#about{
  background-color: #41B3A3;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  padding-top: 1.5%;
  padding-right: 1.5%;
  text-align: center;
}

#footer{
  background-color: #85DCB0;
  text-align: center;
  padding-bottom: 4%;
  padding-top: 1.5%;
}

@media (max-width: 960px) {
  body{
    text-align: center;
    margin-bottom: auto;
  }

#about{
  text-align: center;
}
}
